{% extends 'content/base.html' %}

{% block title %}
    ARP 工具
{% endblock %}

{% block content %}
    <div style="display: block; width: 60%; margin: 20px auto;">
        <span style="display: inline-block;text-align: center;margin-left: 150px;" class="layui-text">局域网内所有主机列表（基于ARP探测）</span>
        <table class="layui-table" style="display: block;">
            <colgroup>
                <col width="150">
                <col width="250">
                <col width="250">
            </colgroup>
            <thead>
            <tr>
                <th style="text-align: center;">序号</th>
                <th style="text-align: center;">IP 地址</th>
                <th style="text-align: center;">MAC 地址</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in msg_list %}
                <tr>
                    <td style="text-align: center;">
                        <i class="layui-icon layui-icon-face-smile" style="font-size: 30px; color: #1E9FFF;"></i>
                    </td>
                    <td style="text-align: center;">{{ foo.ip }}</td>
                    <td style="text-align: center;">{{ foo.mac }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}