{% extends 'content/base.html' %}

{% block title %}
    网络工具
{% endblock %}

{% block content %}
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">本地网络</li>
            <li>本地系统</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <colgroup>
                        <col width="300">
                        <col width="160">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th style="text-align: center">网卡名称</th>
                        <th style="text-align: center">MAC地址</th>
                        <th style="text-align: center">IP地址</th>
                        <th style="text-align: center">网关</th>
                        <th style="text-align: center">子网掩码</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for foo in ipconfig_list %}
                        <tr>
                            <td style="text-align: center">{{ foo.name }}</td>
                            <td style="text-align: center">
                                {% if foo.mac %}
                                    {{ foo.mac }}
                                {% else %}
                                    无
                                {% endif %}
                            </td>
                            <td style="text-align: center">{% if foo.ip4 %}
                                {% for ip in foo.ip4 %}
                                    {{ ip }}
                                {% endfor %}
                            {% else %}
                                无
                            {% endif %}</td>
                            <td style="text-align: center">
                                {% if foo.gateway %}
                                    {{ foo.gateway }}
                                {% else %}
                                    无
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if foo.subnet %}
                                    {{ foo.subnet }}
                                {% else %}
                                    无
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>版本</th>
                        <th>加入时间</th>
                        <th>签名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>许闲心</td>
                        <td>2016-11-28</td>
                        <td>时间的无涯的荒野里…</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}